<!DOCTYPE html>
<head> </head>
<body>
<header>
    <nav class="width-limit">
        <p style="display:inline">
            <div id="logo" href="/"> <img src="/img/logo.png" style="display:block" align="left"></div>
            <div id="name" style="display:block">SparkChat</div>
            <div id="header-text" align="right">
                <a class="github-button" href="https://github.com/Oscaz/Spark-Chat" data-size="large" data-show-count="true" aria-label="Star Oscaz/Spark-Chat on GitHub">Star</a>
                <a href="/contact">Contact</a>
            </div>
        </p>
    </nav>
</header>
    <div id="info">
        <h3>Enter your username to continue.</h3>
    </div>
    <div id="username">
        <input id="username-box" placeholder="Username"/>
        <button id="username-button">Enter</button>
    </div>
<script>

var waiting = true;

var webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/chat");

webSocket.onopen = function () {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("POST", "http://127.0.0.1:4567/authenticate/", false); // false for synchronous request
    xmlHttp.send(null);
    var authContent = xmlHttp.responseText;

    var auth = {
        "type": "authenticate",
        "contents": authContent
    };

    webSocket.send(JSON.stringify(auth));

    waiting = false;
};

webSocket.onmessage = function (message) {
    console.log("onmessage");
    var data = JSON.parse(message.data);
    if (data.contentType != "username-response") {
        return;
    }
    if (data.contents == "true") {
        window.onbeforeunload();
        window.location.href = "http://127.0.0.1:4567/index";
    } else {
        return;
    }
};

id("username-box").addEventListener("keypress", function (e) {
    console.log("enter key");
    if (e.keyCode === 13) {
        if (id("username-box").value.trim() === "") {
            return;
        }
        console.log(id("username-box").value);
        console.log(id("username-box").value.trim());
        var username = {
            "type": "put-username",
            "contents": id("username-box").value.trim()
        };

        webSocket.send(JSON.stringify(username));
    }
});

id("username-button").addEventListener("click", function () {
    console.log("button clicked");
    if (id("username-box").value.trim() === "") {
        return;
    }
    console.log(id("username-box").value);
    console.log(id("username-box").value.trim());
    var username = {
        "type": "put-username",
        "contents": id("username-box").value.trim()
    };

    webSocket.send(JSON.stringify(username));
});

window.onbeforeunload = function() {
    webSocket.onclose = function () {}; // disable onclose handler first
    webSocket.close()
};


function id(id) {
    return document.getElementById(id);
}
</script>
</body>
</html>